$primary-color: red;
$secondary-color: green;
$accent-color: blue;

$primary-font-color: white;

$standard-padding: 15px;

$screen-sm-min: 768px;
$screen-xs-max: ($screen-sm-min - 1);
$screen-md-min: 992px;
$screen-sm-max: ($screen-md-min - 1);
$screen-lg-min: 1200px;
$screen-md-max: ($screen-lg-min - 1);

#container{
  padding:$standard-padding*2;
  height:100%;
  box-sizing:border-box;
  background-color:orange;
  color:$primary-font-color;
  div{
    box-sizing:border-box;
  }
}

.banner{
  display:flex;
  align-items:center;
  height:10%;
  background-color:red;
  padding-left:$standard-padding;
  h1{
    vertical-align: center;
    padding:0;
    margin:0;
  }
}

.content-container{
  display:flex;
  flex-direction:row;
  align-items:stretch;
  background-color:green;
  height:90%;

  .navigation{
    flex: 1 1 300px;
    align-self:center;
    background-color:green;
    ul{
      padding:0;
      list-style:none;
      border-right:1px solid $primary-font-color;
      li{

        a{
          display:block;
          padding:$standard-padding;
          color:$primary-font-color;
          text-decoration: none;
          &:hover{
            color:yellow;
            background-color:purple;
          }
        }
      }
    }
  }

  .content{
    flex: 2 1 auto;
    background-color:blue;
    overflow-y:scroll;
    padding:$standard-padding;
    img{
      max-width:100%;
    }
  }
}





@media (max-width: $screen-xs-max) {  }
@media (min-width: $screen-sm-min) {  }
@media (max-width: $screen-sm-max) {
  #container{
    padding:0px;
  }
  .content-container{
    flex-direction:column;

    .navigation{
      flex: 1 0 auto;

      ul{
        margin:0;
        li{
          display:inline-block;
        }
      }
    }
  }
}
@media (min-width: $screen-md-min) {  }
@media (max-width: $screen-md-max) {  }
@media (min-width: $screen-lg-min) {  }
